@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="chart-container" style="position: relative; height: 100vh;">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="chart-container" style="position: relative; height: 60vh;">
                <canvas id="myAgeChart"></canvas>
            </div>
        </div>
    </div>
</div>



<script src="~/js/chart4.4.js"></script>

@section scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

<script>
    const ctx = document.getElementById('myChart');
    const ctxAge = document.getElementById('myAgeChart');
    const carreras = @Html.Raw(Json.Serialize(ViewData["Carreras"]));
    const cantidadAlumnosPorCarrera = @Html.Raw(Json.Serialize(ViewData["CantidadAlumnosPorCarrera"]));
    const alumnos = @Html.Raw(Json.Serialize(ViewData["Alumnos"]));

    console.log(alumnos)

    // Definir los rangos de edad y sus límites
    var rangosEdad = {
        "Secundario": 0,
        "Terciario": 0
    };

    $.each(alumnos, function (index, alumnos) {
    let edad = alumnos.edad;
    console.log("edad del alumno " + index + ": " + edad);

    if (edad < 18) {
        rangosEdad["Secundario"]++;
    } else {
        rangosEdad["Terciario"]++;
    }
});


    console.log(rangosEdad);

     // Crear arrays para almacenar los nombres de los rangos de edad y la cantidad de clientes en cada rango
        var nombresRangosEdad = Object.keys(rangosEdad);
        var cantidadClientesPorRango = Object.values(rangosEdad);

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: carreras,
            datasets: [{
                label: 'Cantidad de Alumnos por Carrera',
                data: cantidadAlumnosPorCarrera,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            animation: {
                duration: 2000,
                easing: 'easeOutBounce'
            }
        }
    });


    new Chart(ctxAge, {
        type: 'polarArea',
        data: {
            labels: nombresRangosEdad,
            datasets: [{
                label: 'Cantidad de Alumnos por Rango de Edad',
                data: cantidadClientesPorRango,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                    'rgb(75, 192, 192)',
                    'rgb(255, 159, 64)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)',
                    'rgb(255, 99, 132)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            animation: {
                duration: 2000,
                easing: 'easeOutBounce'
            }
        }
    });


</script>

}